body {
    margin-top: 85px;
}

.messages {
    color: red;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.creating-wrapper {
    margin-top: 120px;
    width: 100%;
    height: auto;
    display: flex;
}

.creating-wrapper > form {
    height: fit-content;
    width: calc(50% - 30px);
    margin: 20px 15px;
    border: black 3px solid;
    padding: 15px;
}

.creating-wrapper > form > h2 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.form__hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.button__submit {
    cursor: pointer;
    width: 100%;
    background: #F1F1F1;
    border: 2px solid #303030;
    filter: drop-shadow(5px 10px 20px rgba(79, 79, 79, 0.3));
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 1em 0;
    margin-top: 15px;
}

label {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.form-input {
    background: white !important;
}

.file-input {
    width: calc(100% - 45px);
    padding: 20px;
    margin: 15px 0;
    background: #F1F1F1;
    border: 2px solid #303030;
    filter: drop-shadow(5px 10px 20px rgba(79, 79, 79, 0.3));
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.admin__categories {
    margin: 100px 15px 200px 15px;
    border: black 3px solid;
}

.admin__category {
    margin: 20px;
    border: #303030 2px solid;
}

.admin__category__details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
}

.admin__category__details__data {
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.admin__category__details__data > div {
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.admin__category__details__data > div > h3 {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
}

.admin__category__details__data > div > p {
    margin: 5px 0;
    color: #444444;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.admin__product__details__button > button {
    border: darkred 1px solid;
    color: black;
    width: 100%;
    font-family: "raleway-regular";
    background-color: rgba(255, 0, 0, 0.2);
    padding: 15px 30px;
    cursor: pointer;
}

.button-collapsible {
    background-color: #ccc;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 23px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.button-collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active-collapse, .button-collapsible:hover {
    background-color: #a1a0a0;
}

.active-collapse:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.admin__products-wrapper {
    background-color: #ccc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.card {
    background: white;
}
