*{
    box-sizing: border-box;
}
.card{
    padding: 15px 20px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    background-color: #E5E5E5;
}

.card__title {
    font-family: "CinzelDecorative-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card img{
    max-width: 100%;
}
.card__main{
    display: grid;
}
.card__text{
    display: grid;
    align-content: space-between;
}
.card__buttons{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    align-items: end;
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.card__event-message{
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
}
.card__cancel{
    display: grid;
    justify-items: end;
    align-content: space-between;
}
.cancel-bottom img{
    width: 15px;
}
.cancel-bottom span{
    display: block;
    padding: 7px;
}
.card__buttons a{
    display: block;
    max-width: fit-content;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 5px;
    color: #F1F1F1;
}
a.card_return{
    background-color: #303030;
}
a.card_continue{
    border: 1px solid #303030;
    color: #303030;
}

.card__product-size {
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
