.katalog-body {
    background: #F1F1F1;
    margin: 0 auto;
}
.filters-block{
    margin-top: 10vw;
    margin-right: 100px;
    margin-left: 100px;
    display: grid;
}
.filters-title {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}
.filtry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;

}
.display-way {
    grid-column: 4/-1;
    justify-self: end;
    align-self: center;
}
.filter-name-link{
    color: #303030;
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #303030;
}
.filter-name-sort {
    color: #303030;
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
}
.katalog-cena {
    color: #303030;
}
.sortowanie {
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.products-katalog{
    padding: 75px 0;
}






/* Pagination links */
.pagination {
    padding: 80px 0;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
}
.pagination a {
    border: 1px solid #303030;
    box-sizing: border-box;
    color: #303030;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #303030;;
    color: #F1F1F1;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}


/*--------------NEWSLETTER-DARK---------------*/

.newsletter-dark {
    background: #303030;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 80px 0px;
}
input[type=email].input-email-form-dark {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    background: 0;
    border: 1px solid #676767;
    box-sizing: border-box;
    box-shadow: inset -3px 3px 5px rgba(255, 255, 255, 0.25), inset 3px -3px 5px rgba(255, 255, 255, 0.25);
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #676767;
}

.button-wyslij-white {

    border: 3px solid #F1F1F1;
    box-sizing: border-box;
    filter: drop-shadow(2px 5px 21px rgba(79, 79, 79, 0.39));
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 20px;
    margin-top: 2em;
    width: 40%;

    font-family: "raleway-light";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}