.login-body {
    margin: 0;
    height: 100vh;
}

.login-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "CinzelDecorative-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #303030;
}

.login-container {
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% 70%;
    align-items: start;
    margin: 0 auto;
}
.login-form-container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.login-image-container {
    height: 100vh;
}

.image-login-cover {
    height: inherit;
}
.login-image-container {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 15px 0px 30px rgba(85, 85, 85, 0.15), inset -10px -10px 70px rgba(96, 96, 96, 0.25), inset 10px 10px 30px rgba(96, 96, 96, 0.25);
    backdrop-filter: blur(15px);
}
.image-login-cover img{
    width: 100%;
    height: 100%;
}
.login-text {
    font-family: "raleway-regular";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.login-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.login-button {
    margin: 2em 0;
    width: 100%;
    background: #F1F1F1;
    border: 2px solid #303030;
    filter: drop-shadow(5px 10px 20px rgba(79, 79, 79, 0.3));
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 1em 0;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.register-link {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
}