.payment-body {
    background: #F1F1F1;
    margin: 0 auto;
}

.payment-container {
    margin: 10vw 4vw;
    display: grid;
    grid-auto-flow: column;
    align-items: start;
}

h4 {
    font-family: "CinzelDecorative-Regular";
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #303030;
}
input[type=text].payment-form, input[type=number].payment-form, input[type=date].payment-form, input[type=password].login-input {
    background: 0;
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #676767;
    box-sizing: border-box;
    box-shadow: inset -2px 2px 5px rgba(48, 48, 48, 0.25), inset 2px -2px 5px rgba(48, 48, 48, 0.35);
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #676767;
}

.user-shipping-information{
    display: grid;
    grid-template-columns: 50% 50%;
}

.user-shipping-information>div {
    padding: 0 3em;
}

.payment-method-container {
}

.method-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1em;
}

.select-method-button {
    border: 1px solid #303030;
    box-sizing: border-box;
    padding: 10px 45px;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
    text-align: center;
}

.inputform-card-info {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.button-accept-order {
    width: 100%;
    background: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #F1F1F1;
    padding: 1em 0;
    box-shadow: 2px 5px 21px rgba(79, 79, 79, 0.39);
}


.order-information-container {
    background: #E0E0E0;
}


