.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
    width: 80%;
    margin: 0 auto;
}

.products img {
    width: 100%;
}

.products .caption {
    padding: 6px;
    margin-bottom: 0;
    margin-top: auto;
}

.mostliked {
    background: linear-gradient(180deg, #303030 0%, rgba(48, 48, 48, 0) 98.23%);
    height: 15%;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

.mostliked-text {
    padding: 0.5em;
    text-transform: uppercase;
    color: #F1F1F1;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

/*.mostliked::before{
    content: "a";
}*/

.card {
    position: relative;
    border: 1px solid #303030;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.caption > a {
    color: #303030 !important;
    font-family: "raleway-mediumitalic";
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

h3 {
    font-family: "CinzelDecorative-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #303030;
}

#cena {
    font-family: "raleway-mediumitalic";
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.text-dark {
    color: #303030;
}

.button-product {
    cursor: pointer;
    width: 100%;
    background: #303030;
    padding: 15px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #F1F1F1;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.button-product:disabled {
    cursor: not-allowed;
    background-color: rgb(151 151 151);
    color: rgb(255 255 255 / 84%);
    border-color: rgba(118, 118, 118, 0.3);
}

.caption-cena-and-like {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}
