/*------------PRODUCT-CONTENT-------------*/

.productPage-body {
    background: #F1F1F1;
    margin: 0 auto;
}

.productPage-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}

.product-content {
    margin-top: 10vw;
    padding-bottom: 75px;
    /*
        width: 80%;*/
}

.productPage-title {
    font-family: "CinzelDecorative-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #303030;
}

.name-of-desc {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.cena-description {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.select-size-button {
    display: block;
    border: 1px solid #303030;
    box-sizing: border-box;
    background: 0;
    padding: 10px 45px;
    font-family: "raleway-sembolditalic";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
}

.size-description {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin: 0;
}

.select-size {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.button-size {
    display: flex;
    justify-content: space-around;
}

.product-desc {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #303030;
}

.button-add-to-cart {
    width: 100%;
    background: #303030;
    font-family: "raleway-regular";
    color: #F1F1F1;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px;
    margin: 1em 0;
    text-align: center;
    letter-spacing: 0.7px;
}


.product-image\+links {

}

.product-image {
    text-align: center;
}

.privacy-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.privacy-link {
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #303030;
}


.fast-order-container {
    background: #303030;
}


.recommended-products {
    padding: 75px 100px;
    background: #F1F1F1;
}

.recommended-title {
    color: #f1f1f1;
    text-align: left;
}
