.registration-body {
    background: #F1F1F1;
    margin: 0 auto;
}

.registration-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "CinzelDecorative-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #303030;
}

.registration-form {
    padding-bottom: 5em;
    margin: 0 auto;
    width: 60%;
}

input[type=text].registration-input, input[type=number].registration-input, input[type=date].registration-input, input[type=password].registration-input, input[type=email].registration-input {
    background: 0;
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #676767;
    box-sizing: border-box;
    box-shadow: inset -2px 2px 5px rgba(48, 48, 48, 0.25), inset 2px -2px 5px rgba(48, 48, 48, 0.35);
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #676767;
}

.registration-button {
    margin-top: 2em;
    width: 100%;
    background:  #303030;
    filter: drop-shadow(5px 10px 20px rgba(79, 79, 79, 0.3));
    color: #F1F1F1;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 1em 0;
}
