
.shopping-cart-body{
    background: #F1F1F1;
    margin: 0 auto;
}

.cart-title-dark {
    font-family: "CinzelDecorative-Regular";
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #303030;
}

.cart-container {
    margin-top: 10vw;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

.cart-content {
    padding-bottom: 75px;
}

.cart-product {
    border: 1px solid #303030;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vw 0;
}

.cart-product-delete-btn {
    padding-right: 15px;
}

.cart-product-delete-btn > button {
    border: darkred 1px solid;
    color: black;
    width: 100%;
    font-size: 25px;
    font-family: "raleway-regular";
    background-color: rgba(255, 0, 0, 0.2);
    padding: 30px 45px;
    cursor: pointer;
}

.cart-cena-text {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #303030;
}

.cart-button-continue {
    border: 1px solid #303030;
    box-sizing: border-box;
    filter: drop-shadow(2px 5px 21px rgba(79, 79, 79, 0.39));
    padding: 15px 0;
    width: 30%;
    margin: 0;
}
.button-continue {

}
.continue\+total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-button-text {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #303030;
    margin: 0;
}

.total {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #303030;
}

.cart-accept-button {
    background: #303030;
    box-shadow: 2px 5px 21px rgba(79, 79, 79, 0.39);
    padding: 20px 0;
    width: 30%;
    margin: 0;
}

.cart-accept-button-text {
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #F1F1F1;
    margin: 0;
}
