:root {
    --dark_text: #303030;
    --text: #f1f1f1;
    --title_text: 48px;
    --regular_text: 24px;
    --small_text: 18px;
    --userfont: raleway-light, sans-serif;
    --transition: .25s ease-out;
}

@font-face {
    src: url("../fonts/Raleway/Raleway-Light.woff") format("woff");
    font-family: "raleway-light";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Regular.woff") format("woff");
    font-family: "raleway-regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Medium.woff") format("woff");
    font-family: "raleway-medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-MediumItalic.woff") format("woff");
    font-family: "raleway-mediumitalic";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-SemiBoldItalic.woff") format("woff");
    font-family: "raleway-sembolditalic";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-ExtraBoldItalic.woff") format("woff");
    font-family: "raleway-extrabolditalic";
    font-weight: 800;
    font-style: italic;

    src: url("../fonts/CinzelDecorative/CinzelDecorative-Bold.woff") format("woff");
    font-family: "CinzelDecorative-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/CinzelDecorative/CinzelDecorative-Regular.woff") format("woff");
    font-family: "CinzelDecorative-Regular";
    font-weight: 400;
    font-style: normal;
}

body {
    background: #F1F1F1;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #f1f1f1;
}

.mainpage-body {
    margin: 0 auto;
    background: #303030 url("/public/images/body_bg.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}


header {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(96, 96, 96, 0.5);
    box-sizing: border-box;
    box-shadow: 15px 0px 30px rgba(85, 85, 85, 0.15), inset -10px -10px 70px rgba(96, 96, 96, 0.25), inset 10px 10px 30px rgba(96, 96, 96, 0.25);
    backdrop-filter: blur(15px);
    color: #f1f1f1;
    top: 0px;
    position: fixed;
    z-index: 100;
    margin: 0px auto;
}

.container {
    width: 1240px;
    margin: 0px auto;
}

.navbar {
    display: grid;
    grid-auto-flow: column;

    align-items: center;
}

.wrapper {
    width: 100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.255) 100%);
}

.logo {
    font-size: 72px;
    font-family: "CinzelDecorative-Bold";
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-transform: uppercase;
    font-size: 24px;
    font-family: "raleway-regular";
    font-weight: 400;
}

header .icon {
    height: 30px;
}

.header__button {
    border: white 1px solid;
    display: flex;
    align-items: center;
    padding: 5px 30px;
}

.header__button > img {
    margin-right: 10px;
}

.container-main-page {

    padding-top: 200px;
    padding-bottom: 75px;
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;

}

.images {
    width: 50%;
}

.title {
    color: #f1f1f1;
    text-align: center;
    padding-left: 100px;
    font-family: "CinzelDecorative-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}

.title-dark {
    color: #303030;
}

h1 {
    color: #f1f1f1;
    text-align: center;
    text-transform: uppercase;
    font-family: "CinzelDecorative-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}


.p-text-dark {
    color: #303030;
}

.p-text-white {
    color: #F1F1F1;
}

.description-mainpage {
    color: #f1f1f1;
    font-size: 24px;
    line-height: 28px;
    font-family: "raleway-regular";
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

}

.button-main {
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(2px 5px 21px rgba(79, 79, 79, 0.39));
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 20px;
    margin: 0 auto;

    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;

}

.button-main-dark {
    border: 3px solid #303030;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.8));
    text-align: center;
    letter-spacing: 0.7px;
    color: #303030;
    padding: 20px;
    margin: 0 auto;

    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;

}

.white-button-text {
    color: #F1F1F1;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.dark-button-text {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.most-popular {
    padding: 75px 100px;
    background: #F1F1F1;
}


.rating-result {
    display: inline-block;
    font-size: 0;
}

.rating-result span {
    padding: 0;
    font-size: 32px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
    content: '★';
}

.rating-result > span.active {
    color: #303030;
}


#most-popular-title {
    display: flex;
    flex-direction: row-reverse;
}


/*----------------------------KATEGORII------------------*/
.category-wrapper {
    background: #303030;
}

.categories > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0px;

}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    padding: 0em;
    height: 50vw;

}

.catg-title {
    font-family: "raleway-second";
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;

    background: rgba(48, 48, 48, 0.9);
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 1em;
    width: 60%;
    align-self: baseline;
    justify-self: end;
}

.catg-description {
    font-family: "raleway-second";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F1F1F1;
    align-self: center;
    justify-self: center;
    width: 75%;
}

.darken {
    background: rgba(48, 48, 48, 0.3);
}

.arrow-link {
    justify-self: end;
    align-self: center;
}

.category {
    position: relative;
}

.category > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
}

.arrow-text {
    color: white;
    text-transform: uppercase;
}

/*------FAST-ORDER-------*/

.fast-order {
    background: #303030;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;

}

h2 {
    color: #F1F1F1;
    font-size: 36px;
    line-height: 49px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: "CinzelDecorative-Bold";
    font-weight: 700;
    font-style: normal;
}

.fast-order-content {
    text-align: center;
}

.order-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}

.fast-order-description {
    font-family: "raleway-regular";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.input-form {
    width: 100%;
}

.button-callme {
    background: 0;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(2px 5px 21px rgba(79, 79, 79, 0.39));
    text-align: center;
    letter-spacing: 0.7px;
    color: #F1F1F1;
    padding: 20px;
    margin-top: 5em;
    width: 100%;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}


input[type=text], select, input[type=number] {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    background: #303030;
    border: 1px solid #676767;
    box-sizing: border-box;
    box-shadow: inset -3px 3px 5px rgba(255, 255, 255, 0.25), inset 3px -3px 5px rgba(255, 255, 255, 0.25);
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #676767;
}


/*---------NASZ INSTAGRAM-----*/

.instagram {
    background: #F1F1F1;
    width: 100%;
}

.instagram-posts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    padding: 2em;
}


/*-----------NASI KLIENCI O NAS -----------*/
.feedbacks {
    position: relative;
    background: #F1F1F1;

    padding: 75px 50px;
}

.feedbacks::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 400px;
    height: 300px;
    background-image: url("/public/images/carbon_quotes.svg");
}

.feedbacks::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 400px;
    height: 300px;
    background-image: url("/public/images/carbon_quotes-1.svg");
}


.feedbacks-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
    width: 80%;
    margin: 0 auto;
}

.feedback-1 {
    background: #303030;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.feedback-2 {
    background: #303030;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.feedback-3 {
    background: #303030;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.feedback-4 {
    background: #303030;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.feedback-card-text {
    width: 75%;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.feedback-card-author {
    font-family: "raleway-sembolditalic";
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


/*------------NEWSLETTER-----------*/
.newsletter-light {
    background: #F1F1F1;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 80px 0px;
}

.input-email {
    width: 40%;
    justify-self: center;
    margin: 0 auto;
}

input[type=email] {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    background: 0;
    border: 1px solid #676767;
    box-sizing: border-box;
    box-shadow: inset -2px 2px 5px rgba(48, 48, 48, 0.25), inset 2px -2px 5px rgba(48, 48, 48, 0.35);

    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #676767;
}

.button-wyslij-dark {
    background: 0;
    border: 3px solid #303030;
    box-sizing: border-box;
    filter: drop-shadow(2px 5px 21px rgba(79, 79, 79, 0.39));
    text-align: center;
    letter-spacing: 0.7px;
    color: #303030;
    padding: 20px;
    margin-top: 2em;
    width: 40%;

    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

/*---------FOOTER-----------*/

footer {
    background: url("/public/images/body_bg.png") no-repeat;
    background-size: cover;
}

.footer > div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(96, 96, 96, 0.5);
    box-sizing: border-box;
    box-shadow: 15px 0px 30px rgba(85, 85, 85, 0.15), inset -10px -10px 70px rgba(96, 96, 96, 0.25), inset 10px 10px 30px rgba(96, 96, 96, 0.25);
    backdrop-filter: blur(10px);
}

.title-footer {
    color: #f1f1f1;
    text-align: center;
}

.footer-navig {
    width: 950px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;

}

.footer-nav {
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #F1F1F1;
}

.footer-social-icons {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.footer-soc-icons {
    padding: 0 30px;
}

.footer-copyright {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.copyright {
    font-family: "raleway-light";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #F1F1F1;
    text-transform: capitalize;
}

hr {
    width: 70%;
}


/*      USER POPUP    */
