.userpage-body {
    background: #F1F1F1;
    margin: 0 auto;
    padding-top: 10%;
}

.userpage-container {

}
.userpage-title {
    align-self: center;
}


.userpage-title {
    font-family: "CinzelDecorative-Regular";
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #303030;
}

.user-information-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-items: center;
    padding: 3em 0;
}

.user-info-desc {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    justify-items: stretch;
    border-bottom: 1px solid #303030;
}

.user-info-description-title {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.user-info-value-cont {
    display: flex;
    gap: 2em;
    justify-content: end;
    align-items: center;
}

.user-info-text {
    color: #303030;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.edit-info{
    background: #303030;
    color: #F1F1F1;
    padding: 0.5em;
    width: 50%;
    text-align: center;
    letter-spacing: 0.7px;
    font-family: "raleway-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.user-page-buttons {
    padding: 2em 0;
}